<div class="gc-container">
  <div class="golf_course-bg">
    <div class= "golfcourse">
      <%= form_tag golf_courses_path, method: :get do %>
      <%= text_field_tag :golf_course_search, params[:search], placeholder: "Search Nearby Golf Courses" %>
      <%= submit_tag "Submit", class: "button round tiny", :title => nil%>
      <% end %>
      <div class="row">
        <div class="large-12 columns">
          <table class="transparent shape">
            <% unless @golf_courses.nil? %>
              <% @golf_courses.each do |gc| %>
                <ul>
                  <li>
                    <%= "#{gc[:name]} - #{gc[:location][0]}, #{gc[:location][1]}, #{gc[:location][2]}" %>
                  </li>
                  <ul>
                    <%= "Phone Number: #{gc[:phone]} // Rating: #{gc[:rating]}"  %>
                  </ul>
                </ul>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


