<h1>Golf Courses</h1>
<%= form_tag golf_courses_path, method: :get do %>
  <%= text_field_tag :golf_course_search %>
  <%= submit_tag "Search Nearby Golf Courses", class: "button round tiny", :title => nil%>
<% end %>

<% unless @golf_courses.nil? %>
  <% @golf_courses.each do |gc| %>
    <ul>
      <li>
        <%= "#{gc[:name]} - #{gc[:location][0]}, #{gc[:location][1]}, #{gc[:location][2]}" %>
      </li>
        <ul>
          <%= "Phone Number: #{gc[:phone]} // Rating: #{gc[:rating]}"  %>
        </ul>
    </ul>
  <% end %>
<% end %>


