  <h2> Add a Score </h2>

  <%= form_for @score do |f| %>
  <% if @score.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being submitted:</h2>
    <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :golf_course_id %>
    <%= f.collection_select :golf_course_id, GolfCourse.all.order(:name), :id, :name, include_blank: true %>
  </div>

  <div>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>

  <div>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div><%= f.submit "Add Score", class: "button active" %></div>
<% end %>
