<div class="panel profile_photo">
  <img src="<%= @user.profile_photo %>" atl="profile photos" class="profile"/>
  <div>
    <h3><%= @user.name%></h3>
    <h6><%= "#{@user.city.titleize}, #{@user.state.capitalize} #{@user.zip_code}" %></h6>
    <% if user_signed_in? && current_user == @user %>
      <%= link_to 'Edit Profile', edit_user_registration_path %>
    <% end %>
  </div>
</div>

<h4> Current Handicap: <%= @scores.count < 5 ? 'Requires a minimum of 5 scores' : @user.handicap %>

<table>
  <tr>
    <th>Golf Course</th>
    <th>Score</th>
    <th>Date</th>
  </tr>
    <% recent_scores = @scores.sort_by { |x| x.date }.reverse %>
    <% recent_scores.each do |score| %>
      <tr>
        <td><%= score.tee_rating.golf_course.name %> </td>
        <td><%= score.score %></td>
        <td><%= score.date %></td>
      </tr>
    <% end %>
</table>

<h3>My Friends</h3>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=h friendship.friend.username %>
      <%= link_to "remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", user_path %></p>

<h4>Friended by Others</h4>
<ul>
  <% @user.inverse_friends.each do |user| %>
    <li><%=h user.username %></li>
  <% end %>
</ul>

