<div class="row">
<div class="panel large-12 columns">
  <div class="row">
    <div class="large-3 columns">
      <img src="<%= @user.profile_photo %>" atl="profile photos" class="profile"/>
    </div>
    <div class="large-3 columns">
      <h2><%= @user.name%></h2>
      <h5><%= "#{@user.city.titleize}, #{@user.state.capitalize} #{@user.zip_code}" %></h5>

      <% if user_signed_in? && current_user == @user %>
        <h6><%= link_to 'Edit Profile', edit_user_registration_path %></h6>
      <% end %>
      <% if user_signed_in? && current_user != @user && current_user.friends_with?(@user) %>
        <%= button_to "Delete Friend", user_friendship_path(current_user, @user), :confirm => "Are you sure you want to delete this attachment?", method: :delete %>
      <% elsif user_signed_in? && current_user != @user %>
        <%= button_to "Add Friend", user_friendships_path(@user) %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <h3> Current Handicap: <%= @scores.count < 5 ? 'Requires a minimum of 5 scores' : @user.handicap %></h3>
    </div>
  </div>
</div>

<table class="transparent">
  <tr>
    <th>Golf Course</th>
    <th>Score</th>
    <th>Date</th>
  </tr>
    <% recent_scores = @scores.sort_by { |x| x.date }.reverse %>
    <% recent_scores.each do |score| %>
      <tr>
        <td><%= score.tee_rating.golf_course.name %> </td>
        <td><%= score.score %></td>
        <td><%= score.date %></td>
      </tr>
    <% end %>
</table>

<div class="row">
<div class="large-12 columns">
  <div class="row">
    <div class="large-6 columns">
      <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Following</button>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <% @user.friendships.each do |friendship| %>
            <li>
              <%= link_to friendship.friend.name, user_path(friendship.friend_id) %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="large-6 columns">
      <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Followers</button>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
      <h4>Followers</h4>
      <ul>
        <% @user.inverse_friends.each do |user| %>
          <li>
            <%= link_to user.name, user_path(user) %>
          </li>
        <% end %>
      </ul>
    </div>
<br><br>
<h6><p><%= link_to "Find Friends", users_path %></p></h6>

<br><br>
</div>

