<h2>Log in</h2>
<!-- credit codepen.io -->
<figure><img src="http://www.massresort.com/images/gallery/400/golf-woodstone1.jpg" width="180px" height="180px" /><img src="http://www.hcr.com/images/sized/images/activities/Wailua_Golf_17-300x300.jpg" width="180px" height="180px" /><img src="http://www.joe.com/cms/images/thumbs/SouthWoodGolf01.jpg" width="180px" height="180px" /><img src="http://www.massresort.com/images/gallery/400/golf-woodstone2.jpg" width="180px" height="180px" /><img src="http://www.massresort.com/images/gallery/400/Woodstone-Meadows-Golf-Autumn.jpg" width="180px" height="180px" /></figure>

<div class="sign_in">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in" %></div>
<% end %>
</div>

<%= render "devise/shared/links" %>

